.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    margin-top: 1em;
}
.form_control label{
    margin-bottom: 1em ;
    font-weight: bold;
}
.form_control input{
    padding: 1em;
    border-radius: 0;
    border: none;
}
.form_control input::placeholder{
    color: #7b7b7b;
}