.btn{
    background-color: #222;
    color: #fff;
    padding:  0.7em 1.2em;
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
    border: none;
    border-radius: 30px;
}
.btn:hover{
    color: #6cf173;
}